.nav {
    display: flex;
    background: linear-gradient(to right, rgb(134, 149, 194), rgb(53, 89, 181));
    border-radius: 16px;
    padding: 0.25rem 1rem;
    gap: 0.5rem;
}

.nav3 {
    border-radius: 12px;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav3:hover {
    transform: none;
    background: rgb(227, 59, 137);
}

/*RESPONSIVE*/
@media (max-width: 380px) {
    .nav {
        display: flex;
        margin: 0 auto;
        background: linear-gradient(to right, rgb(134, 149, 194), rgb(53, 89, 181));
        border-radius: 16px;
        padding: 0.25rem 1rem;
        gap: 0;
    }

    .nav-icons {
        font-size: 0.9rem;
    }
}